/*GLOBAL STYLING*/
:root {
    --white: #fffaff;
    --navy: #404046;
    --salmon: #fc5130;
    --fade: #e7dce7;
    --selection: rgba(252, 82, 48, 0.3);
}

html {
    scroll-behavior: smooth
}

::selection {
    background: var(--selection);
}

body {
    font-family: 'Space Mono', monospace;
    background-color: var(--white);
}

button:focus {
    outline: 0px auto transparent;
}

section {
    scroll-margin-top: 100px;
    padding: 50px 0px 50px 0px;
}

.row-gap {
    gap: 75px;
}

.btn {
    background-color: var(--salmon);
    box-shadow: -5px 5px 0px var(--navy);
    border-radius: 0px;
    color: var(--white);
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.btn:hover {
    box-shadow: -10px 10px 0px var(--navy);
    color: var(--navy);
}

.btn-2 {
    box-shadow: unset;
    background-color: var(--navy);
}

.btn-2:hover {
    background-color: var(--salmon);
    color: var(--white);
}

/*NAVIGATION*/
.navbar {
    border-bottom: 1px solid var(--navy);
}

.navbar-toggler {
    border: 1px solid transparent !important;
}

.nav-link {
    text-transform: uppercase;
    color: var(--navy) !important;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: var(--salmon) !important;
}

/*HERO SECTION*/

.jumbotron {
    padding-top: 150px;
    background-color: transparent;
}

.img-shadow {
    box-shadow: -25px 25px 0px var(--salmon);
}

/*WORK SECTION*/

.title {
    margin-bottom: 50px;
}
.work .card {
    box-shadow: -10px 10px 0px var(--navy);
    border-radius: 0px;
    border: none;
    margin-bottom: 25px;
    background-color: var(--fade);
}

/*SKILLS SECTION*/
.skills {
    background-color: var(--fade);
}

.skills .card {
    box-shadow: -10px 10px 0px var(--salmon);
    border-radius: 0px;
    border: none;
    margin-bottom: 25px;
    background-color: var(--white);
}

.skills .card ul {
    padding-left: 0;
}

.skills .card li {
    list-style-type: none;
}